/* Logo Slider CSS */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.logo-slider {
  animation: slide 30s linear infinite;
}
.logo-slider:hover {
  animation-play-state: paused;
}
.logo-slide {
  flex: 0 0 auto;
  width: 250px;
}
@media (max-width: 768px) {
  .logo-slide {
    width: 200px;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 7));
    }
  }
}
@media (max-width: 640px) {
  .logo-slide {
    width: 150px;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 7));
    }
  }
}
